@model Book
@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>
<dl class="row">
    <dt class="col-sm-2">Book Id</dt>
    <dd class="col-sm-10">@Model.BookId</dd>
    <dt class="col-sm-2">Author</dt>
    <dd class="col-sm-10">@Model.Author</dd>
    <dt class="col-sm-2">Price</dt>
    <dd class="col-sm-10">@Model.Price.ToString("C")</dd>
</dl>
<p>
    <a asp-action="List" class="btn btn-secondary">Back to List</a>
    <a asp-action="Delete" asp-route-id="@Model.BookId" class="btn btn-danger">Delete</a>
</p>
